<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="container">
        <h2>Remarques et Suggestions sont les bienvenues</h2>
    </div>
</div>
<section id="contact" class="contact mt-5 mb-5">
  <div class="container" data-aos="fade-up">
    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="info">
          <div class="email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <h4>Email:</h4>
            <p>janticipe0101@gmail.com</p>
          </div>
          <div class="phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h4>Téléphone:</h4>
            <p>+221 77 111 61 22</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 mt-5 mt-lg-0">
        <form method="post" role="form" class="php-email-form">
          <div class="form-group mt-3 mt-md-0">
            <input type="email" [(ngModel)]="contact.email" class="form-control" name="email" id="email" placeholder="alioune.fam@univ-thies.sn" required>
          </div>
          <div class="form-group mt-3">
            <input type="text" [(ngModel)]="contact.objet" class="form-control" name="objet" id="objet" placeholder="Objet" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" [(ngModel)]="contact.message" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="text-center"><button type="submit" (click)="save()">Envoyer</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
