<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand fs-1" style="color:#0d6efd;" href="/">Janticipe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/"></a>
        </li>
      </ul>
      <span class="navbar-text">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-6" aria-current="page" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-6" routerLink="classe">Classe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-6" routerLink="cours">Cours</a>
        </li>
      </ul>
      </span>
    </div>
  </div>
</nav>
<ngx-loading-bar height=5.7px ref='http'></ngx-loading-bar>
<router-outlet></router-outlet>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Janticipe</h3>
                    <a name="" id="" class="btn btn-primary" routerLink="contact" role="button">Nous
                        écrire <i class="fa fa-file-text" aria-hidden="true"></i> </a>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                  <h4>Liens utiles</h4>
                  <ul>
                    <li><i class="fa fa-angle-right"></i> <a routerLink="/">Accueil</a></li>
                    <li><i class="fa fa-angle-right"></i> <a routerLink="/classe">Classe</a></li>
                    <li><i class="fa fa-angle-right"></i> <a routerLink="/cours">Cours</a></li>
                    <li><i class="fa fa-angle-right"></i> <a routerLink="/about">A propos</a></li>
                    <li><i class="fa fa-angle-right"></i> <a routerLink="/contact">Contact</a></li>
                  </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-links">
                  <h4>Liens utiles</h4>
                  <ul>
                    <li><i class="fa fa-angle-right"></i> <a href="https://www.univ-thies.sn/" target="_blank">Site web de l'Université Iba Der Thiam de Thiès</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="https://ufrset.univ-thies.sn/" target="_blank">Site web de l'UFR SET de l'UIDT</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="https://bibliotheque.uidt.sn/" target="_blank">Site web de la bibliothèque de l'UIDT</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="https://fad.uidt.sn/" target="_blank">Plateforme de Formation à Distance de l'UIDT</a></li>
                    <li><i class="fa fa-angle-right"></i> <a href="https://candidature.uidt.sn/" target="_blank">Plateforme d'admission de l'UIDT</a></li>
                  </ul>
                </div>
                <!-- <div class="col-lg-6 col-md-6 footer-newsletter">
                    <h4>Boite à lettres</h4>
                    <p>
                        Pour être informer de toutes nouveautés merci de renseigner votre email
                    </p>
                    <form method="post">
                        <input type="email" name="email" placeholder="janticipe0101@gmail.com"
                            required>
                        <input type="submit" value="S'inscrire">
                    </form>
                </div> -->
            </div>
        </div>
    </div>
    <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Janticipe</span></strong> by <a
                    href="https://cheikh0101.github.io/portfolio/">CTG</a>.
                    <p> Tous droits réservés </p>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://www.linkedin.com/in/cheikh-tidiane-gueye/" class="linkedin"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->

